[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/g-hanwen/hugo-theme-nostyleplease.git
